/* Styles needed by the application */

#email-input, #password-input {
	width: 150px;
}

#submit-button {
	padding: 1px 10px;
	text-align: center;
	display: block;
	margin: 10px auto 0 auto;
}

/* Registration */
#registration-patient-form, #registration-hcp-form {
	display: none;
}

/* MyDoctors */
#mydoctors-table, #mydoctors-table th, #mydoctors-table td {
	border: 1px solid black;
}
#mydoctors-table {
	width: 100%;
	border-collapse: collapse;
}
#mydoctors-table th {
	height: 22px;
	background-color: #ABBEBE;
	color: black;
	padding: 2px 4px;
	margin: 0;
}

#mydoctors-table td
{
	height: 20px;
	vertical-align: middle;
	padding: 2px 5px;
	margin: 0;
}
