/* Styles needed by the application */

#email-input, #password-input {
	width: 150px;
}

#submit-button {
	padding: 1px 10px;
	text-align: center;
	display: block;
	margin: 10px auto 0 auto;
}

/* Registration */
#registration-patient-form, #registration-hcp-form {
	display: none;
}

/* Tables */
table.tables-1, .tables-1 th, .tables-1 td {
	border: 1px solid black;
}
table.tables-1 {
	width: 100%;
	border-collapse: collapse;
}
.tables-1 th {
	height: 22px;
	background-color: #abbebe;
	color: black;
	padding: 2px 4px;
	margin: 0;
}
.tables-1 td
{
	height: 20px;
	vertical-align: middle;
	padding: 2px 5px;
	margin: 0;
	background-color: #ffffff;
}
td.tables-1-selected-tds {
	background-color: #aabbcc;
	/*cursor: pointer;*/
}


.id_keeper {
	display: none;
}
